.Editor {
  display: flex;
  gap: 10px; /* flex가 적용된 요소 간의 간격 */
}

/* 하위에 있는 모든 input에 스타일 적용 */
.Editor input {
  flex: 1; /* flex가 적용된 태그가 부모 요소 크게에 벗어나지 않는 선에서 최대 길이만큼 늘어남 */
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px; /* 모서리 둥글게 */
}

.Editor button {
  cursor: pointer; /* 커서올리면 포인터 모양으로 됨 */
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}
